html {
    padding: 7px;
    text-align: center;
    font-family: "ui-sans-serif", "-apple-system", "system-ui", "Segoe UI", "Helvetica", "Apple Color Emoji", "Arial", "sans-serif", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
}

header>* {
    display: inline-block;
    vertical-align: top;

}

.logo {
    float: left;
}

.logo img {
    background-color: rebeccapurple;
    display: inline;
    width: 2em;
}

.logo h2 {
    display: inline;
    vertical-align: top;
    font-weight: normal;
}

.navbar>* {
    margin: 3px;
    color: rgb(87, 84, 84);
    text-decoration: none;
}

.login {
    float: right;
}

.login>* {
    border-radius: 25px;
    height: 2em;
    min-width: 2em;
}

.login #log-in {
    background-color: black;
    color: white;
}

.login #free {
    border: 1px solid rgb(202, 202, 194);
}

.login #helf {
    font-weight: bold;
    background-color: white;
}

main {
    display: inline-block;
    width: 60%;
    margin-top: 12em;
}

.text {
    display: block;
    width: 50%;
    margin-top: 5em;
    float: left;
    text-align: left;
}
.text h1{
    font-weight: normal;
    font-size: 45px;
}

.text h3{
    font-weight: normal;
}

.text p{
    color: rgb(134, 137, 139);
}

.text button{
    border-radius: 25px;
    height: 2em;
    background-color: black;
    color: white;
}

.image img{
    width: 40%;
    border-radius: 20px;
}

#internal{
    background-color: white;
    border-radius: 20px;
    position: fixed;
    top: 23em;
    right: 32.5em;
    width: 22em;
    height: 8em;
    text-align: left;
    padding: .8em;
}
